.overflow-hidden {
    overflow: auto!important;
}

:root{
    --aero: #8fb8deff;
    --sand: #f5f3b3ff;
    --krystal: rgb(58, 158, 158);
    --eerie: #262626ff;
    --milka: #886aabff;
}

body{

}

#mainImg{
    background-position: center;
    background-clip:border-box;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    margin-top: 20px;
}

.blend h1, h2, h3, h4{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px;
    padding: 10px;
    inline-size:inherit;
}

.hide {
    display: none;
  }
  
.nav-item:hover a .hide {
    display: block;
    color: #000;
    transition: opacity 2s;
}

.btn-primary{
    background-color: var(--krystal);
    border-color: rgb(255, 255, 255);
    color:rgb(255, 255, 255);
}

.btn-primary:hover{
    background-color: rgb(99, 197, 98);
    border-color: rgb(255, 255, 255);
    color:white;
}

.bg-primary{
    background-color: var(--aero) !important;
}

#title{
    width: 100%;
    padding-left: 30px;
    background-color: var(--aero);
    color: white;
}

body *{
    font-family: 'Poppins', sans-serif !important;
}

.full {
    width: 100%;
}

.active {
    color: black;
}

#content{
    height: 90vh;
}

.high {
    height: 300px;
}

.float-right-important{
    position: absolute;
    right: 10px;
    top: 10px;
}

.big-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.randomImg {
    min-height: 400px;
    background-size: cover;
    background-repeat:repeat-y;
    background-position: center;
    transition-duration: 100ms;
    transition: ease-in-out;
}

svg:hover{
    transform: scale(1.1,1.1);
}

.nav-item {
    margin-left: 10px;
    margin-bottom: 0px;
}

.nav-icon {
    font-size: large;
    border: firebrick;
}

.red {
    border-color:tomato;
}

.green {
    border-color:seagreen;
}

.messenger-size {
	margin: 0 auto;
    margin-top: 10px;
}

.messenger{
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.message{
    border-radius: 1em;
	padding: 0.25em 0.75em;
	margin: 0.0625em;
	max-width: 50%;
}

.full{
    width: 100%;
}

.my{
    background-color: rgb(12, 201, 144);
    color: white;
	align-self: flex-start;
}
.other{
    background-color: rgb(196, 196, 196);
    color: black;
    align-self: flex-end;
}

.my.first { border-bottom-left-radius: 0.1em; }
.my.last { border-top-left-radius: 0.1em; }
.my.middle {
	border-bottom-left-radius: 0.1em;
 	border-top-left-radius: 0.1em;
}

.other.first { border-bottom-right-radius: 0.1em; }
.other.last { border-top-right-radius: 0.1em; }
.other.middle {
	border-bottom-right-radius: 0.1em;
	border-top-right-radius: 0.1em;
}

.commentImg{
    width: 40px;
    height: 40px;
    border-radius: 60px;
    object-fit: cover;
    object-position: 20% 10%; /* try 20px 10px */ 
}

.mainImg{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    object-fit: cover;
    object-position: 20% 10%; /* try 20px 10px */ 
}

a {
    color: rgb(0, 14, 141);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color:rgb(92, 203, 255)
}

.cat{
    height: 40vh;
}

.big{
    font-size: 10vw;
    color: var(--krystal);

}

.large{
    font-size: 8vw;
    color: white;
    text-align: center;
    border: var(--krystal) 2px dashed;
    
    border-radius: 200px;
    background-color: var(--krystal);

}

.small {
    font-size: 2vw;
    text-align: center;
}

.profile{
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
    object-position: 20% 10%; /* try 20px 10px */ 
    border-radius: 100px;
}

.gallery{
    width: 100px; /* width of container */
    height: 100px; /* height of container */
    object-fit: cover;
}

.float{
    position: fixed;
    left: 50vw;
    top:50vh;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    transform: translate(-50%,-50%);
}

.colour-fb{
    background-color: #4267B2;
    color: white;
}

.colour-fb:hover{
    background-color: #719ef8;
    color: white;
}

.in-progress{
    color:rgb(255, 215, 38);
}

.done{
    color:rgb(46, 168, 93);
}

.deleted{
    color:rgb(167, 11, 11);
}

.col-light{
    background-color: rgb(49, 212, 104) !important; 
    transition-duration: 500ms;
}
.col-med{
    background-color: rgb(236, 199, 75) !important;
    transition-duration: 500ms;
}

.col-strong{
    background-color: rgb(214, 107, 18) !important;
    transition-duration: 500ms;
}

.loading {
    animation: color-change 1s infinite;
  }
  
  @keyframes color-change {
    0% { background-color: rgb(255, 255, 255); }
    50% { background-color: rgb(211, 211, 211); }
    100% { background-color: rgb(255, 255, 255); }
  }