<div class="progress">
  <div id="loading" class="progress-bar bg-primary" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div id="container" class="d-none">
</div>

<div class="float shadow">
  <h1>Szia! Ez itt a Fife galéria</h1>
  <p>Tele olyan fotókkal, amit a kedves fiféink készítettek egymásról amikor találkoztak.</p>
  <p>Szeretnél te is felrakni egy képet? <button type="button" id="click" class="btn btn-primary">Kattints ide</button></p>
  <div class="form-group">
    <label for=""></label>
    <input type="file" class="form-control-file" name="" id="" placeholder="" aria-describedby="fileHelpId">
    <small id="fileHelpId" class="form-text text-muted">Help text</small>
  </div>
</div>

<script>
var storageRef = firebase.storage().ref();
var listRef = storageRef.child('gallery');

var urls = [];
i=0;
  listRef.listAll()
  .then((res) => {
    res.items.forEach((itemRef) => {
            i++;
            itemRef.getDownloadURL()
            .then((url) => {
              urls.push(url);

              $('#container').append("<img src='"+url+"' class='gallery'></img>");
              $('#loading').attr('style',"width: "+urls.length/i*100+"%");
              if(i == urls.length) {
                loadMore();
              }
            });
    });
  }).catch((error) => {
    
  })

  function loadMore(){
    for (let i = 0; i < 5; i++) {
      urls.forEach(url => {
        $('#container').append("<img src='"+url+"' class='gallery'></img>")
      });
    }
    $('#container').removeClass('d-none'); 
  }

 $('#click').click(function (e) { 
      
 });

</script>