  <div class="jumbotron my-4">
    <div class="d-flex">
      <div>
        <h1 class="display-3">Fife App</h1>
        <h2 class="">Találj rá olyan emberekre akikkel tudtok egymásnak segíteni!</h2>
        <h4 class="mt-5">A cica-design csak ráadás</h4>
      </div>
      <div ><img id="mainImg" src="../cat1.png" class="cat" alt="" srcset=""></div>
    </div>

  </div>
  <div>

    <h2 class="display-4">Az appról</h2>
    <p class="lead">A Fife App egy nonprofit, közösség építő alkalmazás, ahol sokféle online megoldást nyújtunk arra, 
    hogy az emberek megtalálják akikre valóban szükségük van. Legyen az ruha, könyv, pénz, étel, 
    szakértelem vagy művészet, a modern eszközök segítségével eljuthatnak a megfelelő helyre.<br>
    Nem csupán a segítségnyújtás a célunk, hanem az, hogy a jó emberek megtalálják egymást és így egy jobb
    közösséget, de egy jobb jövőt is alkothassunk.</p>
    <p>Vannak ötleteid mitől lehetne jobb az alkamazás? Ötletelj másokkal!</p>
    <nav class="lead">
      <a class="btn btn-primary btn-lg" href="ideas.html" role="button">Brainstorm</a>
    </nav>
    <h1 class="display-4">Tudnál segíteni?</h1>
    <p class="lead">
        Ha úgy gondolod, hogy aktívan tudnál nekünk segíteni a munkában, kérlek add meg az elérhetőséged az
        alábbi űrlapon és írd le pár szóban, hogy hogyan és milyen területen tudsz a megvalósításban segíteni 
        (fejlesztés, design, jog, stb.).
    </p>
    <div class="form-group">
      <label for="email">Elérhetőséged:</label>
      <input type="email" class="form-control" name="email" id="email" aria-describedby="emailId" placeholder="">
      <label for="description">Rólad:</label>
      <textarea class="form-control" name="description" id="description" rows="3"></textarea>
      <button type="submit" class="btn btn-primary btn-lg btn-md mt-4">Elküld</button>
    </div>
  </div>


  <div class="modal fade " id="theme" tabindex="-1" aria-labelledby="theme" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cicás vagy kutyás témát szeretnél?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <a id="btnCat" data-bs-dismiss="modal" class="col big"><i class="fas fa-cat"></i></h1>
              <a id="btnDog" data-bs-dismiss="modal" class="col big"><i class="fas fa-dog"></i></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
var myModal = new bootstrap.Modal(document.getElementById('theme'));

$("nav").delegate("a", "click", function() {
      window.location.hash = $(this).attr("href");
      console.log(window.location.hash);
      return false;
  });
  
  if (sessionStorage.getItem('theme') == null)
    myModal.toggle();

  sessionStorage.setItem('theme','cat');
  setImg();

$('#btnCat').on('click',e=>{
  sessionStorage.setItem('theme','cat');
  setImg();
});

$('#btnDog').on('click',e=>{
  sessionStorage.setItem('theme','dog');
  setImg();
});

function setImg(){
  $('#mainImg').attr('src','../'+sessionStorage.getItem('theme')+'1.png')
}
  </script>