
<div class="overflow-auto">
    <nav id="title"><h1 class="" id="titleLink" href=""></h1></nav>
    <div class="messenger " id="messages"></div>
    <form id="form" class="messenger-size d-flex my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" id="message" placeholder="Üzenet.." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" id="send" type="submit">Küld</button>
    </form>
</div>

<script>

    $('#content').height("100vh"-$('#title').height()-$('#form').height())

    messengerRef = firebase.database().ref('users/' + sessionStorage.getItem('uid') + "/messages/" + getUrlParameter('val'));
    messengerThemRef = firebase.database().ref('users/' + getUrlParameter('val') + "/messages/" + sessionStorage.getItem('uid'));

    i = 0;
    messageBar = document.getElementById("message");
    submitBtn = document.getElementById("submit");
    lastWasMine = undefined;

    var myPeopleRef = firebase.database().ref('users/'+getUrlParameter('val'));
        myPeopleRef.on('value', (snapshot) => {
            const data = snapshot.val();
            $('#titleLink').html(data.name);
            $('#titleLink').attr('href','profile.html?val='+getUrlParameter('val'));
        });
        
    function reload() {
        $('#messages').empty();
        messengerRef.once('value', (snapshot) => {
            snapshot.forEach((childSnapshot) => {
                appendMsg(childSnapshot.val().user == uid, childSnapshot.val().val);
            });
        });
    }

    reload();

    messengerRef.on('child_changed', (data) => {
        reload();
    });


    $('#send').on('click', e => {
        pushMsg();
    });

    function appendMsg(mine,text){
        let isMine = 'my';
        if (mine) isMine = 'other';
        stack = '';
        if (lastWasMine && mine || !lastWasMine && !mine) {
            stack = 'last';
            if (!$('#msg'+(i-1)).hasClass('first')){
                $('#msg'+(i-1)).removeClass('first');
                $('#msg'+(i-1)).addClass('middle');
            }
        } else $('#msg'+(i-1)).removeClass('first');
        if (!lastWasMine && mine || lastWasMine && !mine || lastWasMine == undefined) stack = 'first';
        $('#messages').append('<div id="msg'+i+'" class=" message '+isMine+' '+stack+'">'+text+'</div>');
        i++;
        lastWasMine = mine;
    }

    function pushMsg(){
        var newMsgRef = messengerRef.push();
        var newMsgThemRef = messengerThemRef.push();
        var val = messageBar.value;
        newMsgRef.set({'user':uid,'val':val});
        newMsgThemRef.set({'user':uid,'val':val});
        
        messageBar.value = "";
        reload();
    }

</script>
