<h3 class="display-6" id="title"></h3>
<nav id="searchList" class="list-group"></nav>
<img id="tmpImg" src="" alt="">

<script>
    
i = 0;

                                var imgurl = "../img1.jpg";

    $('#title').html("Megválaszolatlan keresések:");
    postsRef = firebase.database().ref('posts');
    postsRef.on('value', (snapshot) => {
        
        i=0;
        $('#searchList').empty();
        snapshot.forEach(function(post){
                        i++;
                        let htmlComments = "";
                        let newName = "";
                        if (post.val().comments != undefined) {
                            let comments = Object.entries(post.val().comments);
                            comments.forEach(comment => {

                                htmlComments += (`
                                    <div class="mx-2 p-1">
                                        <div class="d-flex align-items-center">
                                            <img id="img_${comment[0]}" src="../img1.jpg" class="commentImg">
                                            <div class="d-flex flex-column flex-fill">
                                                <nav>
                                                    <a href="profile.html?val=${comment[1].uid}" class="mx-2">${comment[1].name}</a>
                                                </nav>
                                                <small class="mx-4 my-1">${urlify(comment[1].text)}</small>
                                            </div>
                                            <div id="num_${comment[0]}" class="d-flex flex-column align-middle">
                                                <span>${comment[1].vote}</span>
                                            </div>
                                            <div class="comments d-flex flex-column align-middle">
                                                <a id="" postid="${post.key}" commentid="${comment[0]}"><i class="fa fa-arrow-up"></i></a>
                                                <a id="" postid="${post.key}" commentid="${comment[0]}"><i class="fa fa-arrow-down"></i></a>
                                            </div>
                                        </div>
                                    </div>`);
                            });
                        }
                        let newPost = 
                        `<div class="d-flex bd-highlight">
                            <div class="p-2 bg-primary text-light flex-shrink-1 bd-highlight"><h2>${i}</h2></div>
                            <div class="p-2 w-100 bd-highlight">
                                <a class="list-group-item list-group-item-action flex-column align-items-start" data-bs-toggle="collapse" data-bs-target="#collapse${i}" aria-expanded="false" aria-controls="collapse${i}">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">${post.val().title}</h5>
                                        <small></small>
                                    </div>
                                    <p class="mb-1">${post.val().about}</p>
                                    <small></small>
                                </a>    
                                <div class="collapse" id="collapse${i}">
                                    ${htmlComments}
                                </div>
                                <div class="p-2 d-flex">
                                    <textarea rows="1" type="text" class="form-control" name="comment${i}" id="comment${i}" aria-describedby="helpId" placeholder="Írd le ha tudsz segíteni"></textarea>
                                    <input type="button" postid="${post.key}" for="${i}" class="btn btn-primary" value="Elküld">
                                </div>
                            </div>
                        </div>
                        `;
                        
                        //num++;
                        $('#searchList').append(newPost);
                        postsRef.on('value', (snapshot) => {
                        snapshot.forEach(function(post){
                                                if (post.val().comments != undefined) {
                                                    let comments = Object.entries(post.val().comments);
                                                    comments.forEach(comment => {
                                                        var storage = firebase.storage();
                                                        var pathReference = storage.ref('profiles/'+comment[1].uid+'/profile.jpg');
                                                        pathReference.getDownloadURL()
                                                        .then((url) => {
                                                            $('#img_'+comment[0]).attr('src',url);
                                                        })
                                                        .catch((error) => {
                                                            // Handle any errors
                                                            console.log( error);
                                                        });
                                                    });
                                                }
                                            });
                                        });

                        $(".comments").delegate("a", "click", function(ev) {
                            //ev.preventDefault();
                            postid = $(this).attr("postid");
                            commentid = $(this).attr("commentid");
                            let oldvote = 0;
                            var voteRef = firebase.database().ref('posts/' + postid + "/comments/"+ commentid + '/vote');
                            voteRef.on('value', (snapshot) => {
                                const data = snapshot.val();
                                oldVote = data;
                            });

                            if ($(this).hasClass('fa-arrow-up')) oldVote++;
                            if ($(this).hasClass('fa-arrow-down')) oldVote--;

                            var updates = {};
                            updates['posts/' + postid + "/comments/"+ commentid + '/vote'] = oldVote;
                            $('#num_'+commentid).html(oldVote);

                            return firebase.database().ref().update(updates);
                        });


        });
});

$("nav").delegate("input","click", function() {
    id = $(this).attr("for");
    postId = $(this).attr("postid");
    console.log('posts/'+postId+'/comments');
    var ref = firebase.database().ref('posts/'+postId+'/comments');
    var newref = ref.push();
    newref.set({"uid":sessionStorage.getItem('uid'),
                "text":$('#comment'+id).val(),
                "name":sessionStorage.getItem('name'),
                "vote":0});
});

$("nav").delegate("a", "click", function() {
    
    if ($(this).attr("href") != undefined)
        if (!$(this).hasClass('outside')) {
            window.location.hash = $(this).attr("href");
            return false;
        }
  });





</script>