<div class="jumbotron">
    <h1 class="display-3">Adatok megadása</h1>
    <p class="lead">Töltsd ki a profilodat</p>
    <hr class="my-2">
    <div class="form-group">
      <label for="pic">Profilképed</label>
      <input class="form-control" type="file" id="profilePicFile">

      <label class="mt-3" for="username">Felhasználónév</label>
      <input type="text"
        class="form-control" name="username" id="username" aria-describedby="usernameHelpId" placeholder="">
      <small id="usernameHelpId" class="form-text text-muted">Egyedi azonosítód</small>

      <label class="mt-3" for="name">Teljes név</label>
      <input type="text"
        class="form-control" name="name" id="name" aria-describedby="nameHelpId" placeholder="">

      <label class="mt-3" for="instagram">Instagram</label>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" id="instagram" class="form-control" placeholder="felhasználónév" aria-label="felhasználónév" aria-describedby="basic-addon1">
      </div>

      <label class="mt-3" for="location">Komfortzónád</label>
      <div id="map" name="location" style="width:100%;height:400px;"></div>
      <small class="form-text text-muted">Add meg nagyjából azt a területet ahol elérhető lehetsz</small>
      <div id="mapInfo"></div>

      <label class="mt-3" for="profession">Szakterületeid</label>
      <input type="text" class="form-control" name="professionHelpId" id="profession" data-role="tagsinput" aria-describedby="professionHelpId" value="" placeholder="Photoshop, Jóga, Pszichológia">
      <small id="professionHelpId" class="form-text text-muted">Add meg milyen területeken vagy magabiztos</small>


      <button type="button" id="saveLoc" class="btn btn-primary">Mentés</button>
      <button type="button" id="loadLoc" class="btn btn-primary">Betöltés</button>

    </div>
</div>

<script>

  var file;

  var vlng, vlat, vrad, vzoom;

  $('#saveLoc').on('click', e => {
    vlng = parseFloat(map.getCenter().lng().toFixed(4));
    vlat = parseFloat(map.getCenter().lat().toFixed(4));
    vrad = parseFloat((Math.abs(map.getBounds().getNorthEast().lng()-map.getBounds().getSouthWest().lng())*111000/8).toFixed(4));
    vzoom = map.getZoom();
    $('#mapInfo').html("lng: "+vlng + " lat: "+vlat + " rad: " + vrad);

    database.ref('users/' + uid).set({
      username: $('#username').val(),
      ig_username: $('#instagram').val(),
      name: $('#name').val(),
      location: {vlng, vlat, vrad, vzoom},
      profession: $('#profession').val(),
      pro_file: file.name
    });

    var storageRef = firebase.storage().ref('public/' + uid + '/profilePicture/' + file.name);
    var task = storageRef.put(file);
    var storageRef = firebase.storage().ref('/profiles/' + uid + '/profile.jpg');
    var task = storageRef.put(file);
  });

  $('#loadLoc').on('click', e => {
    loadData();
  });

  function loadData(){
    var myProfileRef = firebase.database().ref('users/' + sessionStorage.getItem('uid'));
      myProfileRef.on('value', (snapshot) => {
      const data = snapshot.val();
      $('#username').val(data.username);
      $('#name').val(data.name);
      $('#instagram').val(data.ig_username);
      $('#profession').val(data.profession);
      vlat = data.location.vlat;
      vlng = data.location.vlng;
      vrad = data.location.vrad;
      vzoom = data.location.vzoom;
      
      map.setCenter({lat: vlat, lng: vlng});
      map.setZoom(vzoom);
    });
  }

  $('#profilePicFile').on('change',e=>{
    file = e.target.files[0];

  })

  initMap();

  $(function() {
    loadData();
  });

  
  onContentLoad = function(){
    
  }

function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: -34.397, lng: 150.644 },
    zoom: 6,
  });
  var locCircle = new google.maps.Circle({
    strokeColor: "#007BFF",
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: "#007BFF",
    fillOpacity: 0.2,
    map: map,
    center: { lat: -34.397, lng: 150.644 },
    radius: 1000,
  });

  var savedCircle = new google.maps.Circle({
    strokeColor: "#eeba33",
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: "#eeba33",
    fillOpacity: 0.2,
    map: map,
    center: { lat: vlat, lng: vlng },
    radius: vrad,
  });

  map.addListener("idle", () => {
    locCircle.setRadius(Math.abs(map.getBounds().getNorthEast().lng()-map.getBounds().getSouthWest().lng())*111000/8);
  });

  infoWindow = new google.maps.InfoWindow();
    const locationButton = document.createElement("button");
    locationButton.textContent = "Pan to Current Location";
    locationButton.classList.add("custom-map-control-button");
    map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
    locationButton.addEventListener("click", () => {
      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            const pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude,
            };
            map.setCenter(pos);
          },
          () => {
            handleLocationError(true, infoWindow, map.getCenter());
          }
        );
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }
    });

  map.addListener("zoom_changed", () => {
    locCircle.setRadius(Math.abs(map.getBounds().getNorthEast().lng()-map.getBounds().getSouthWest().lng())*111000/8);
  });

  map.addListener("center_changed", () => {
    locCircle.setCenter(map.getCenter());
    if (vlat != undefined) {
      savedCircle.setCenter({ lat: vlat, lng: vlng });
      savedCircle.setRadius(vrad);
    }
  });

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(
      browserHasGeolocation
        ? "Error: The Geolocation service failed."
        : "Error: Your browser doesn't support geolocation."
    );
    infoWindow.open(map);
  }
}



</script>