<form action="">
    <div class="form-group">
    <label for="request_type">Kérés típusa</label>
    <select class="form-control" name="request_type" id="request_type">
        <option value="none">Válassz egyet</option>
        <option value="profession">Szakértelem</option>
        <option value="object">Tárgy</option>
        <option value="other">Valami más</option>
    </select>
    </div>
    <div id="profession_form" class="d-none">
        <h3 class="display-3">Szakértelem</h3>
        <div class="form-group">
            <label for="profession_type">Cím</label>
            <input type="text" class="form-control" name="profession_type" id="profession_type" aria-describedby="helpId" placeholder="pl: Jóga, Programozás, Bicikli szerelés">
            <small id="helpId" class="form-text text-muted">Milyen típúsú szakértelemre van szükséged?</small>
        </div>

        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" value="list" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Lista</label>
          
            <input type="radio" value="map" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-success" for="btnradio2">Térkép</label>
          </div>

        <div id="profession_search">
            <div id="profession_list"></div>
            <div id="profession_map" name="location" style="width:100%;height:400px;"></div>
        </div>

        <div class="form-group">
          <label for="profession_about">Nem találod amit keresel?</label>
          <textarea class="form-control" id="profession_about" rows="3" aria-describedby="helpId" placeholder="Keresek valakit aki segítene..."></textarea>
          <small id="helpId" class="form-text text-muted">Pár mondatban írd le, hogy pontosan kit/mit keresel</small>
        </div>

        <button type="submit" name="button_send" id="button_send" class="btn btn-primary btn-lg btn-block">Elküld</button>
    </div>

    <div id="object_form" class="d-none">
        <h3 class="display-3">Tárgy</h3>
        <div class="form-group">
            <label for="object_type">Cím</label>
            <input type="text" class="form-control" name="object_type" id="object_type" aria-describedby="helpId" placeholder="pl: Ruha, ékszer, fejhallgató">
            <small id="helpId" class="form-text text-muted">Milyen típúsú tárgyra van szükséged?</small>
        </div>
        <div class="form-group">
          <label for="object_about">Bővebben mire lenne szükséged?</label>
          <textarea class="form-control" id="object_about" rows="3" aria-describedby="helpId" placeholder="Lapule valakinél egy..."></textarea>
          <small id="helpId" class="form-text text-muted">Pár mondatban írd le, hogy pontosan mit keresel</small>
        </div>
    </div>
</form>

<script>
    $('#request_type').on('change', function() {
        loadForm(this.value);
    });

    $('#profession_type').on('change', function() {
      loadList();
      initMap();
      
      $('#profession_map').addClass('d-none');
    });

    $('input[type=radio][name=btnradio]').change(function() {
      if (this.value == 'map') {
          $('#profession_map').removeClass('d-none');
          $('#profession_list').addClass('d-none');
      }
      else if (this.value == 'list') {
          loadList();
          $('#profession_map').addClass('d-none');
          $('#profession_list').removeClass('d-none');
      }
    });

    $('#button_send').on('click', e =>{
      var postRef = firebase.database().ref('posts/');
      var newPostRef = postRef.push();
        newPostRef.set({
          "uid":uid,
          "title":$('#profession_type').val(),
          "about":$('#profession_about').val()
        });

    })

    function loadList(){
      let i = 65;
      $('#profession_list').html("Ők felelnek meg a keresésnek:");
        var myPeopleRef = firebase.database().ref('users');
            $('#profession_list').empty();
            myPeopleRef.on('value', (snapshot) => {
                snapshot.forEach(function(person){
                    if (person.val().profession.includes($('#profession_type').val())) {
                                var newPerson = 
                                `<a href="profile.html?val=${person.key}" class="bd-highlight d-flex align-items-start">
                                    <div class="p-2 bg-primary text-light flex-shrink-1 bd-highlight"><h2>${String.fromCharCode(i)}</h2></div>
                                    <div class="flex-column">
                                      <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">${person.val().name}</h5>
                                      </div>
                                      <p class="mb-1">${person.val().profession}</p>
                                      <small>Ajánlók: ${person.val().recommend}</small>
                                    </div>
                                </a>`;
                                //num++;
                                $('#profession_search').append(newPerson);
                    }
                });
        });
    }

    function loadForm(type){
        $('#profession_form').addClass('d-none');
        $('#object_form').addClass('d-none');
        $('#other_form').addClass('d-none');

        $('#'+type+'_form').removeClass('d-none');
    }
    $("#profession_search").delegate("a", "click", function() {
      window.location.hash = $(this).attr("href");
      return false;
  });

var vlng, vlat, vrad, vzoom;
var loclist = [];
var circleList;

function initMap() {
map = new google.maps.Map(document.getElementById("profession_map"), {
  center: {lat: 47.497913, lng: 19.040236},
  zoom: 10
});
var myPeopleRef = firebase.database().ref('users');
            myPeopleRef.on('value', (snapshot) => {
                snapshot.forEach(function(person){
                    if (person.val().profession.includes($('#profession_type').val())) {
                        console.log(person.val().name);
                        const Marker = new google.maps.Marker({
                          label: "A", //person.val().name
                          position: { lat: person.val().location.vlat, lng: person.val().location.vlng },
                          map,
                        });
                        const Circle = new google.maps.Circle({
                            center: { lat: person.val().location.vlat, lng: person.val().location.vlng },
                            radius: person.val().location.vrad,
                            strokeColor: "#FF0000",
                            strokeOpacity: 0.8,
                            strokeWeight: 2,
                            fillColor: "#FF0000",
                            fillOpacity: 0.35,
                            map,
                        });
                        
                        console.log(Marker)
                        //map.setCenter({ lat: person.val().location.vlat, lng: person.val().location.vlng });
                    }
                });
        });

infoWindow = new google.maps.InfoWindow();
  const locationButton = document.createElement("button");
  locationButton.textContent = "Pan to Current Location";
  locationButton.classList.add("custom-map-control-button");
  map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
  locationButton.addEventListener("click", () => {
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          const pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
          };
          map.setCenter(pos);
        },
        () => {
          handleLocationError(true, infoWindow, map.getCenter());
        }
      );
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  });

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(
    browserHasGeolocation
      ? "Error: The Geolocation service failed."
      : "Error: Your browser doesn't support geolocation."
  );
  infoWindow.open(map);
}
}

</script>