<h3 class="display-6" id="title"></h3>
<nav id="searchList" class="list-group"></nav>

<script>
    var people;
    
    //let num = 1;
    $('#title').html("Ők felelnek meg a keresésnek ("+getUrlParameter('val')+"):");
    var myPeopleRef = firebase.database().ref('users');
        myPeopleRef.on('value', (snapshot) => {
            snapshot.forEach(function(person){
                if (person.val().name.includes(getUrlParameter('val'))) {
                            var newPerson = 
                            `<a href="profile.html?val=${person.key}" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">${person.val().name}</h5>
                                    <small></small>
                                </div>
                                <p class="mb-1"></p>
                                <small></small>
                            </a>`;
                            //num++;
                            $('#searchList').append(newPerson);
                }
            });
    });

</script>