<h1>A FiFe Appról bővebben</h1>
<div id="about">
   <p>Miért van az, hogy ma sokkal könnyebb elérni egy embert a világ másik oldalán, mint összeismerkedni a szomszédoddal? Hogy lehet az, hogy a betondzsungelben az emberek közel sem érzik magukat a közösség tagjának? Egy nagyvárosnak számtalan előnye van, azonban az társadalmi összehúzás nincs ezek között. De miért lehet ez az internet korában?
Ezekre a modern problémákra szeretnék megoldást találni, a FiFe Közösségen keresztül.
A Fiatal Felnőttek kezdeményezés célja a társadalmi összetartozás erősítése. Egyrészt modern eszközök, egy erre fejlesztett alkalmazás segítségével, másrészt hagyományos módokon, azonban új ötletekkel. </p> 

    <h5>A Facebookon található FiFe csoportok egymás segítéséről, önzetlenségről és a tudás megosztásáról szól. Ahogy ez a kezdeményezés is.</h5>
    <p>A Fiatal Felnőttek Alkalmazás egy <b>nonprofit</b>, közösségépítő alkalmazás, ahol sokféle online megoldást nyújtunk arra, 
        hogy az emberek megtalálják akikre valóban szükségük van, egy kattintással. Legyen az ruha, könyv, pénz, étel, 
        szakértelem vagy művészet, a modern eszközök segítségével eljuthatnak a megfelelő helyre.
        Nem csupán a segítségnyújtás a célunk, hanem az, hogy az önzetlen és jó emberek megtalálják egymást és így egy jobb
        közösséget és egy jobb jövőt is alkothassunk.</p>
    <hr>
    <h2>Ezek a funkciók fognak megvalósulni az alkalmazásban:</h2>
        Jelmagyarázat:
    <div class="d-md-flex">
        <div class="mx-4"><i class="fa fa-check-circle done"></i> Kész, befejezett funkció</div>
        <div class="mx-4"><i class="fa fa-question-circle in-progress"></i> Épp készülő funkció</div>
        <div class="mx-4"><i class="fa fa-times-circle deleted"></i> Elutasított funkció</div>
        <div class="mx-4"><i class="far fa-circle"></i> Új funkció</div>
    </div>
</div>
<div class="d-flex" id="ideaList">

    <table class="table table-hover text-center">
        <thead>
          <tr>
            <th style="width: 5%" scope="col">#</th>
            <th class="text-start">Ötlet</th>
            <th style="width: 5%" scope="col">Állapot</th>
            <th style="width: 1%" scope="col">Értékelés</th>
            <th style="width: 5%" scope="col">Bővebben</th>
          </tr>
        </thead>
        <tbody id="ideaTable" >

        </tbody>
      </table>
      <p></p>
</div>


<form id="submitForm" class="">
    <div class="form-group">
      <label for="newIdea"><b>De igen!</b> A te ötleted is számít! Milyen új funkcióval lehetne jobb az applikáció?</label>
      <div class="d-flex">
        <input type="text" class="form-control" name="newIdea" id="newIdea" placeholder="Írd le..">
        <button type="submit" class="btn btn-primary">Elküld</button>
      </div>
    </div>
</form>



<div id="admin">
    <ul class="list-group" id="unSubmitted">

    </ul>
    <form id="submitNew">
        <h3>Kiválasztott: <span  id="selected"></span></h3>
        <div class="form-group">
        <label for="new_title">Cím</label>
        <input type="text" class="form-control" name="new_title" id="new_title">
        </div>
        <div class="form-group">
        <label for="new_about">Leírás</label>
        <input type="text" class="form-control" name="new_about" id="new_about">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Mentés</button>
    </form>
</div>

<div class="mt-3">
    <h2>Segíts nekünk!</h2>
    <p>Az appon jelenleg csupán néhányan dolgozunk (2), mindig elkél a segitség!<br>Az alábbi területeken van szükségünk emberekre:</p>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-1 card" style="width: 18rem;">
            <div class="card-body text-center">
            <h5 class="card-title"><b>Fejlesztés</b></h5>
            <p class="card-text">Webfejlesztés, telefonos alkalmazás fejlesztés.</p>
            <i class="fa fa-check-circle done mx-3"></i>
            </div>
        </div>
        <div class="col-sm-12 card" style="width: 18rem;">
            <div class="card-body text-center">
            <h5 class="card-title"><b>Marketing</b></h5>
            <p class="card-text">Szeretnénk eljutattni a projektet minél több embernek.</p>
            <i class="fa fa-check-circle done mx-3"></i>
            </div>
        </div>
        <div class="col-sm-12 card" style="width: 18rem;">
            <div class="card-body text-center">
            <h5 class="card-title"><b>Jog</b></h5>
            <p class="card-text">Nem értünk ilyenekhez egyáltalán, help us.</p>
            <i class="fa fa-check-circle done mx-3"></i>
            </div>
        </div>
        <div class="col-sm-12 card" style="width: 18rem;">
            <div class="card-body text-center">
            <h5 class="card-title"><b>Design</b></h5>
            <p class="card-text">A honlap- és az alkalmazás desing-ja is csúnyácska! Valamint egy logo is elkéne!</p>
            <i class="fa fa-check-circle done mx-3"></i>
            </div>
        </div>
    </div>
    <p class="mt-3">
        Ha úgy gondolod, hogy aktívan tudnál nekünk segíteni a munkában, kérlek add meg az elérhetőséged az
        alábbi űrlapon és írd le pár szóban, hogy hogyan és milyen területen tudsz a megvalósításban segíteni!
    </p>
    <form class="form-group">
      <label for="email">Elérhetőséged:</label>
      <input type="email" class="form-control" name="email" id="email" aria-describedby="emailId" placeholder="">
      <label for="description">Rólad:</label>
      <textarea class="form-control" name="description" id="description" rows="3"></textarea>
      <button type="submit" class="btn btn-primary btn-lg btn-md mt-4">Elküld</button>
    </form>

</div>




<script>
    status_done = "fa fa-check-circle done";
    status_inpr = "fa fa-question-circle in-progress";
    status_delt = "fa fa-times-circle deleted"
    status_new  = "far fa-circle";
    
    selectedId = undefined;
    admin = false;


    var i = 0;
    var j = 0;
    ideasRef = firebase.database().ref('ideas');
    preIdeasRef = firebase.database().ref('preIdeas');

    $(document).ready(function() {
        if (admin) {
            $('#submitForm').addClass('d-none');
        } else 
            $('#admin').addClass('d-none');
    });

    preIdeasRef.on('child_added', (data) => {
        j++;
        $('#unSubmitted').append(`
        <li class="list-group-item">
            <div class="form-check">
                <input class="form-check-input" type="radio" ideaId=${data.key} name="flexRadioSubmit" id="flexRadioSubmit${j}">
                <label class="form-check-label" for="flexRadioSubmit${j}">${data.val().text}</label>
            </div>
        </li>
        `);
        $('input[type=radio][name="flexRadioSubmit"]').on('change', function () {
            $('#selected').html($(this).next().html());
            $('#new_title').val($(this).next().html());
            selectedId = $(this).attr('ideaId');
        });
    });

    ideasRef.on('child_added', (data) => {
        i++;
        title = data.val().title;
        extraInfo = data.val().info;
        likes = data.val().likes;
        
        switch (data.val().status) {
            case 0:
                status = status_new;
                break;
            case 1:
                status = status_inpr;
                break;
            case 2:
                status = status_done;
                break;
            case 3:
                status = status_delt;
                break;
            default: status = status_inpr;
                break;
        }
        //status = status_new;
        $('#ideaTable').append(`
        <tr>
            <th scope="row">${i}</th>
            <td data-bs-toggle="collapse" href="#collapse${i}" role="button" aria-expanded="false" aria-controls="collapse${i}" class="text-start"><b>${title}</b>
                <div colspan="5" class="collapse" id="collapse${i}">${extraInfo}</div>
            </td>
            <td> <i class="${status}" aria-hidden="true"></i> </td>
            <td>
                <i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="mx-2">${likes}</span><i class="fa fa-thumbs-down" aria-hidden="true"></i>
            </td>
            <td data-bs-toggle="collapse" href="#collapse${i}" role="button" aria-expanded="false" aria-controls="collapse${i}">
                <i class="fas fa-plus"></i>
            </td>
        </tr>
        `);
    });
    
    $('#submitForm').on('submit',function (e) { 
        e.preventDefault();
        var newPreIdeasRef = preIdeasRef.push();
        var val = $('#newIdea').val();
        $('#newIdea').val('');
        newPreIdeasRef.set({'text':val});
    });

    $('#submitNew').on('submit',function (e) { 
        e.preventDefault();
        var newIdeasRef = ideasRef.push();
        newIdeasRef.set({
            'title':$('#new_title').val(),
            'info':$('#new_about').val(),
            'likes':0,
            'status':0
        });
        $('#new_title').val('');
        $('#new_about').val('');
        var updates = {};
        updates['/preIdeas/' + selectedId] = null;
        return firebase.database().ref().update(updates);
    });
</script>