<h3>Ahhoz hogy a tötörld a fiókod jelentkezz be, majd kattints a következő gombra:</h3>
<button id="btnReady" type="button" class="btn btn-primary">Törölj engem</button>
<button id="btnDelete" type="button" class="btn btn-primary d-none">Biztos törlöd magad?</button>

<script>

$('#btnReady').on('click',e=>{
    $('#btnDelete').removeClass('d-none');
});

$('#btnDelete').on('click',e=>{

    console.log('deleted!');
    
    var user = firebase.auth().currentUser;

    firebase.database().ref('users/' + user.uid).remove();

    user.delete().then(function() {
    // User deleted.
    }).catch(function(error) {
    // An error happened.
    });
    location = '#home.html';

})
</script>