  <div class="jumbotron mb-4">
    <div class="randomImg d-flex p-3">
      <div class="blend mx-4">
        <h1 class="transparent display-3 mt-4 d-inline-flex">Fife App</h1>
        <h2 class=" d-flex">Építsük a hazai közösséget!</h2>
        <h4 class="my-1 d-flex">És közben nézzünk cuki cicás gifeket.</h4>
        <nav class="lead my-5">
          <a id="btnSwap" class="btn btn-primary btn-lg" role="button">Kezdjünk bele</a>
        </nav>
      </div>
    </div>

  </div>
  <div class="">

    <h2 class="display-4">Az appról</h2>
    <p class="lead text-justify mx-3">A Fife App egy nonprofit, közösségépítő alkalmazás, ahol sokféle online megoldást nyújtunk arra, 
    hogy az emberek megtalálják akikre valóban szükségük van. Legyen az ruha, könyv, pénz, étel, 
    szakértelem vagy művészet, a modern eszközök segítségével eljuthatnak a megfelelő helyre.<br>
    Nem csupán a segítségnyújtás a célunk, hanem az, hogy a jó emberek megtalálják egymást és így egy jobb
    közösséget, de egy jobb jövőt is alkothassunk.</p>
    <div class="container my-4">
      <div class="row text-center">
        <div class="col-md-4 col-sm-6">
          <div>
            <div class="large"><i class="fas fa-leaf"></i></div>
            <div class="lead">légy környezetbarát</div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div>
            <div class="large"><i class="fas fa-store"></i></div>
            <div class="lead">élénkítsd a hazai piacot</div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div>
            <div class="large"><i class="fas fa-users"></i></div>
            <div class="lead">építs közösséget</div>
          </div>
        </div>
      </div>
    </div>

    <div class="randomImg">
      <div class="blend">
        <h4 class="d-inline-flex m-4">Vannak ötleteid mitől lehetne jobb az alkamazás? Ötletelj másokkal!</h4>
        <nav class="lead m-4">
          <a class="btn btn-primary btn-lg" href="about.html" role="button">Bővebben</a>
        </nav>
      </div>
    </div>
    <h2 class="display-4">Tudnál segíteni?</h2>
    <p class="lead mx-3">
        Ha úgy gondolod, hogy aktívan tudnál nekünk segíteni a munkában, kérlek add meg az elérhetőséged az
        alábbi űrlapon és írd le pár szóban, hogy hogyan és milyen területen tudsz a megvalósításban segíteni 
        (fejlesztés, design, jog, stb.).
    </p>
    <div class="form-group">
      <label for="email">Elérhetőséged:</label>
      <input type="email" class="form-control" name="email" id="email" aria-describedby="emailId" placeholder="">
      <label for="description">Rólad:</label>
      <textarea class="form-control" name="description" id="description" rows="3"></textarea>
      <button type="submit" class="btn btn-primary btn-lg btn-md mt-4">Elküld</button>
    </div>
  </div>


  <div class="modal fade " id="theme" tabindex="-1" aria-labelledby="theme" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Milyen témát szeretnél?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <a id="btnCat" data-bs-dismiss="modal" class="col big"><i class="fas fa-cat"></i></h1>
              <a id="btnDog" data-bs-dismiss="modal" class="col big"><i class="fas fa-dog"></i></h1>
              <a id="btnCyc" data-bs-dismiss="modal" class="col big"><i class="fas fa-bicycle"></i></h1>
              <a id="btnPlnt" data-bs-dismiss="modal" class="col big"><i class="fas fa-seedling"></i></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>


var myModal = new bootstrap.Modal(document.getElementById('theme'));
  
  if (sessionStorage.getItem('theme') == null)
    myModal.toggle();

$('#btnCat').on('click',e=>{
  sessionStorage.setItem('theme','cat');
  setImg();
  $("body").get(0).style.setProperty("--krystal", "rgb(202, 151, 10)");
});

$('#btnDog').on('click',e=>{
  sessionStorage.setItem('theme','dog');
  setImg();
  $("body").get(0).style.setProperty("--krystal", "rgb(150, 17, 0)");
});

$('#btnCyc').on('click',e=>{
  sessionStorage.setItem('theme','city');
  $("body").get(0).style.setProperty("--krystal", "rgb(204, 0, 102)");
  setImg();
});


$('#btnPlnt').on('click',e=>{
sessionStorage.setItem('theme','plant');
  setImg();
  $("body").get(0).style.setProperty("--krystal", "rgb(0, 153, 0)");
});

$('.themeSelect').delegate('click',e=>{
  sessionStorage.setItem('theme','plant');
  //setImg();
  $("body").get(0).style.setProperty("--krystal", "rgb(58, 158, 158);");
})

function setImg(){
  getRandomGifs();
}

getRandomGifs();
  </script>