  <script>

    var liked = false;
    var disliked = false;

    window.fbAsyncInit = function() {
      FB.init({
        appId            : '483654622684731',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v10.0',
        status           : true
      });
      document.getElementById("userId").setAttribute("value",FB.getUserID());
      getMyLikes();
    };

    function getMyLikes() {
      $.ajax({
            url:"data.php",    //the page containing php script
            type: "post",    //request type,
            dataType: 'json',
            data: {function: "getLikes", userId: FB.getUserID(),id: 0},
            success:function(result){
                if (result.abc == 'success') {
                  console.log(result);
                  liked = result.liked;
                  if (liked) {
                    $("#btn-like").attr("checked",true);
                    $("#lbl-like").addClass("active");
                  }
                  disliked = result.disliked;
                  if (disliked) {
                    $("#btn-dislike").attr("checked",true);
                    $("#lbl-dislike").addClass("active");
                  }
                };
            },
            error:function(result){
              console.log(result);
            }
      });
    }
  </script>
    


  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.php">Főoldal</a></li>
      <li class="breadcrumb-item"><a href="ideas.php">Ötletek</a></li>
      <li class="breadcrumb-item active" aria-current="page"></li>
      <div class="float-right-important">
      <div class="fb-login-button" data-width="" data-size="medium" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="true" data-use-continue-as="false"></div>
      </div>
    </ol>
  </nav>

    <div class="container">
      <h1 class="display-3"># ötlet</h1>
      <div class="jumbotron">

        <h1 class="display-3"></h1>
        Leírás:
        <p class="lead"></p>
        <hr class="my-2">
      </div>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" role="progressbar" style="width:1%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-danger" role="progressbar" style="width:1%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
          <div class="alert alert-success" role="alert">
            Márcsak . támogató kell, hogy az ötlet megvalósuljon.
          </div>
          <div class="alert alert-danger" role="alert">
            Ha további . ember hasztalannak találja az ötletet, az törlődik.
          </div>
      <div class="jumbotron mt-3 pt-3">
        <p>A te véleményed:</p>
        <form action="" method="post">
          <div class="form-group">
            <input type="hidden" value="" name="userId" id="userId" name="item-wear" readonly></input>
            <div class="btn-group-lg full btn-group-toggle mb-3" data-toggle="buttons" role="group" aria-label="Basic example">
              <label onclick="like()" id="lbl-like" class="btn btn-outline-success float-center">
                <input type="radio" name="btn" value="btn-like" id="btn-like" >Tetszik az ötlet</input>
              </label>
              <label  onclick="dislike()" id="lbl-dislike"  class="btn btn-outline-danger float-center">
                <input type="radio" name="btn" value="btn-dislike" id="btn-dislike" >Ennek nincs értelme</input>
              </label>
            </div>
          
              <label for="description">Hogy lehetne jobb?</label>
              <textarea class="form-control" placeholder="Tetszik az ötlet, de lehetne.." name="description" id="description" rows="3"></textarea>
              <button type="submit" name="submit" class="btn btn-primary btn-md mt-4">Elküld</button>
          </div>
        </form>
      </div>

      <div class="mb-5 text-center">
        <nav aria-label="..." class="float-center">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"></li>
            <li class="page-item active">
              <a class="page-link" href="#"><span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item "><a class="page-link" href=""></a></li>
            <li class="page-item ">
              <a class="page-link" href="">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <script>
      var text = document.getElementById("description");
      function dislike() {
        text.disabled = true;
      }
      function like() {
        text.disabled = false;
      }
    </script>
