  <script>

    function printMyIdeas(myIdeas){
      var container = $("#myIdeas");
      console.log(myIdeas);
      myIdeas.forEach(element => {
        var str = '<div class="jumbotron"><h1 class="display-3">'+element.name+'</h1><p class="lead">'+element.description+'</p></div>';

        str = '<h1 class="display-3">#'+element.id+' ötlet</h1><div class="jumbotron"><h1 class="display-3">'+element.name+'</h1>Leírás:<p class="lead">'+element.description+'</p><hr class="my-2"></div>'

        container.append(str);
      });
    }

  </script>

    <div class="container">
      <h2 class="display-4">Eddigi ötletek:</h2>
      <div>
        <div style="height:10px" class="my-3">
         <a type='button' class='btn btn-$col' href='idea?id='></a>
              
        </div>
      </div>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        Ezen a néven már létezik ötlet.
      </div>
      <div class="jumbotron">
        <h1 class="display-3">Van új ötleted?</h1>
        <p class="lead">Van egy funkció amit hasznosnak találnál az alkalmazásunkban?
        Ne habozz megosztani másokkal!</p>
        <hr class="my-2">
        <p>Az itt megosztott gondolatokat minden felhasználó megszavazhatja. A többség dönt.</p>
        <form action="" method="post">
          <div class="form-group">
            <label for="name">Ötlet neve:</label>
            <input type="hidden" value="" name="userId" id="userId" name="item-wear" readonly></input>
            <input type="text" class="form-control" name="name" id="name" aria-describedby="emailId" placeholder="">
            <small id="emailId" class="form-text text-muted">Informatív, rövid név</small>
            <label for="description">Ötlet leírása:</label>
            <textarea class="form-control" name="description" id="description" rows="3"></textarea>
            <button type="submit" name="submit" class="btn btn-primary btn-md mt-4">Elküld</button>
          </div>
        </form>
      </div>

      <h1 class="display-3">A te elküldött ötleteid</h1>

      <div id="myIdeas">
      </div>

      <div class="mb-5"></div>
    </div>
