<div>
    <h1>Keress megbízható FiFe csoportok között!</h1>
    <form id="linkSearchForm" action="">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Keresés" aria-label="Keresés" id="searchText" aria-describedby="searchSubmit">
        <button class="btn btn-secondary" type="submit" id="searchSubmit">Keresés</button>
      </div>
    </form>
    <div id="searchList" class="text-center">
      <p>Keress csoportokra!</p>
    </div>
    <div class="d-flex mt-3">
      <h3>Tudsz olyan csoportról amit itt nem látsz?</h3>
      <button type="submit" class="btn btn-primary mx-3" data-bs-toggle="modal" data-bs-target="#newLinkModal">Adj hozzá újat!</button>
    </div>

    <div class="modal fade" id="newLinkModal" tabindex="-1" aria-labelledby="newLinkModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newLinkModalLabel">Adj meg egy Facebook-csoport linket és leírást, hogy mások is megtalálják</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h4></h4>
            <div class="form-group">
              <label for="newLinkText">Link</label>
              <input type="text" class="form-control" name="newLinkText" id="newLinkText" aria-describedby="helpId" placeholder="pl.: https://www.facebook.com/groups/510301726120659">
            </div>
            <div class="form-group">
              <label for="newAboutText">Leírás</label>
              <textarea class="form-control" name="newAboutText" id="newAboutText" rows="3" placeholder="Miért jó hogy beléptél ebbe a csoportba?"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
            <button type="button" class="btn btn-primary" id="newSave">Mentés</button>
          </div>
        </div>
      </div>
    </div>
</div>

<script>

  $('#linkSearchForm').submit(function (e) { 
    e.preventDefault();
    sum = 0;
    num = 0;
    $('#searchList').empty();
    var myLinksRef = firebase.database().ref('links');
        myLinksRef.on('value', (snapshot) => {
            snapshot.forEach(function(link){
                num++;
                if (link.val().about.includes($('#searchText').val())) {
                            var newLink = 
                            `<a href="https://www.facebook.com/groups/${link.val().link}" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">${link.val().about}</h5>
                                    <small>Feltöltötte: ${link.val().uid}</small>
                                </div>
                            </a>`;
                            //num++;
                            $('#searchList').append(newLink);
                            sum++;
                }
                  if (sum == 0)
                    $('#searchList').html('<p>A keresés nem hozott eredményt :(</p>');
            });
          });
  });

  $('#newSave').click(function (e) { 
    e.preventDefault();
    groupId = $('#newLinkText').val();
    groupId = groupId.slice(groupId.lastIndexOf('/')+1);
    console.log(groupId);
    var ref = firebase.database().ref('links');
    var newref = ref.push();
    newref.set({"uid":sessionStorage.getItem('uid'),
                "link":groupId,
                "about":$('#newAboutText').val()
              });
  });
</script>