<div class="row">
    <div class="col-md-8 col-sm-12">
        <nav id="title" class="p-2">
            <img src="" id="mainImg" class="mainImg" alt="">
            <a class="" id="titleLink" href=""><h1 id="titleText"></h1></a>
        </nav>
        <div class="messenger overflow-auto pb-4" id="messages"></div>
        <div ></div>
        <form id="form" >
            <fieldset id="fieldset" class="messenger-size d-flex my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" id="message" placeholder="Üzenet.." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" id="send" type="submit">Küld</button>
            </fieldset>
        </form>
    </div>
    <div class="col-md-4 col-sm-12">
        
        <nav>
            <h1 class="" id="title" href="">Mások</h1>

        </nav>
        <nav id="people" class="overflow-auto"></nav>
        <img class="img-fluid" id="bottomImg" src="../media/cat1.png" alt="">
    </div>
</div>
<script>

    $('#content').height("100vh"-$('#title').height()-$('#form').height()-$('#mainNav').height())

    var messengerRef, messengerThemRef;

    reload();

    i = 0;
    messageBar = document.getElementById("message");
    messengerBar = document.getElementById("messages");
    submitBtn = document.getElementById("submit");
    lastWasMine = undefined;
    lastTime = undefined;

    function loadPerson(){
        var myPeopleRef = firebase.database().ref('users/'+getUrlParameter('val'));
            myPeopleRef.on('value', (snapshot) => {
                const data = snapshot.val();
                $('#titleText').html(data.name);
                $('#titleLink').attr('href','profile.html?val='+getUrlParameter('val'));
                var storage = firebase.storage();
                var pathReference = storage.ref('profiles/' + getUrlParameter('val')+'/profile.jpg');
                pathReference.getDownloadURL()
                .then((url) => {
                    $('#mainImg').attr('src', url);
                })
                .catch((error) => {
                    console.log(error);
                });
            });
    }
    function loadOtherPeople(){
        myPeopleRef = firebase.database().ref('users/'+sessionStorage.getItem('uid')+'/messages');
            myPeopleRef.once('value', (snapshot) => {
                    snapshot.forEach(function(person){
                        if (person.key != uid) {
                            var ref = firebase.database().ref('users/'+person.key);
                            ref.once('value', (snapshot2) => {
                                $('#people').append(`<a href="messenger.html?val=${person.key}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">${snapshot2.val().name}</h5>
                                            </div>
                                        </a>`);
                            });
                        }

                    });
                })
    }
    function showHelp(){
        console.log('help');
        $('#fieldset').attr('disabled',0);
    }

    $('#people').css('height',window.outerHeight-460);

    function reload() {
        if (getUrlParameter('val') != null && sessionStorage.getItem('uid') != null) {
            messengerRef = firebase.database().ref('users/' + sessionStorage.getItem('uid') + "/messages/" + getUrlParameter('val'));
            messengerThemRef = firebase.database().ref('users/' + getUrlParameter('val') + "/messages/" + sessionStorage.getItem('uid'));
            messengerRef.on('child_added', (data) => {
                appendMsg(data.val().user == uid, data.val().val,data.val().time);
            });
            loadPerson();
            loadOtherPeople();
        } else showHelp();
        $('#messages').empty();
        $('#messages').css('height',window.outerHeight-$('#title').height()-$('#form').height()-$('#mainNav').height()-178);
    }

    $('#send').on('click', e => {
        pushMsg();
    });

    function appendMsg(mine,text,stime){
        time = new Date(stime);
        let isMine = 'my';
        if (mine) isMine = 'other';
        stack = '';
        if (lastWasMine && mine || !lastWasMine && !mine) {
            stack = 'last';
            if (!$('#msg'+(i-1)).hasClass('first')){
                $('#msg'+(i-1)).removeClass('first');
                $('#msg'+(i-1)).addClass('middle');
            }
        } else $('#msg'+(i-1)).removeClass('first');
        if (!lastWasMine && mine || lastWasMine && !mine || lastWasMine == undefined) stack = 'first';

        console.log(time);
        console.log(lastTime);
        if (time != "Invalid Date" && lastTime != undefined && (lastTime.getYear() < time.getYear() || lastTime.getMonth() < time.getMonth() || lastTime.getDate() < time.getDate())) {
            $('#messages').append('<div class="text-center">'+time.getFullYear()+'. '+time.getMonth()+'. '+time.getDate()+'. '+'</div>');
            $('#msg'+(i-1)).removeClass('first');
            stack = 'first';
        }

        $('#messages').append('<div id="msg'+i+'" class=" message '+isMine+' '+stack+'">'+text+'</div>');
        i++;
        lastWasMine = mine;
        lastTime = new Date(stime);
        messengerBar.scrollTop = messengerBar.scrollHeight;
    }

    function pushMsg(){
        var newMsgRef = messengerRef.push();
        var newMsgThemRef = messengerThemRef.push();
        var val = messageBar.value;
        d = new Date();
        newMsgRef.set({'user':uid,'val':val,'time':d.getTime()});
        newMsgThemRef.set({'user':uid,'val':val,'time':d.getTime()});
        console.log(d.getTime());
        
        messageBar.value = "";
        //reload();
    }


</script>
