<div class="d-flex flex-column bd-highlight mb-3">
    <div class="text-center p-2 bd-highlight" id="pic"><img class="profile" id="imgProfile" src="./img1.jpg" alt=""></div>
    <div id="fullName" class="text-center p-2 bd-highlight"><h1 class="display-3">Ő</h1></div>
    <div class="p-2 bd-highlight">
        <div class="jumbotron">
            <button type="button" id="messageBtn" class="btn btn-primary" hidden>Üzenet</button>
            <button type="button" id="recommendBtn" class="btn btn-primary" hidden>Ajánlom</button>
            <button type="button" id="editBtn" class="btn btn-primary" hidden>Profil szerkesztése</button>
            <h1 class="display-3">Információ</h1>
            <p class="lead">Minden amit tudni lehet <span id="fullName2"></span></p>
            <hr class="my-2">
            <ul>
                <li>Felhasználónév: <span id="username"></span></li>
                <li>Instagram azonosító: <a id="ig_username_link" href=""><span id="ig_username"></span></a></li>
                <li>Hely: <span id="location"></span></li>
                <li>Ajánlók: <span id="recommend"></span></li>
                <li>FiFe pontok: <span id="fifePoints"></span></li>
                <li>Mióta tag: <span id="registered"></span></li>
            </ul>
            Mihez ért?
            <ul>
                <span id="profession"></span>
            </ul>
            
        </div>
        
        <h3 class="display-6" id="title"></h3>
        <nav id="searchList" class="list-group"></nav>

        
    </div>
</div>

<div class="modal" id="solvedModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Hol találtál megoldást <span id="solveModalSubject1"></span> kapcsolatos kérésedre?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Segíts másoknak azzal, hogy leírod hol kaptál segitséget!</p>
            <p>A véleményed és elérhetőséget, amit megadsz mások is látni fogják, akik rákeresnek <span id="solveModalSubject2"></span></p>
            <div class="form-group">
                <label for="solvedName">Hol kaptál megoldást a kérésedre?</label>
                <input type="text" class="form-control" name="solvedName" id="solvedName" aria-describedby="solveLinkHelp" placeholder="név">
            </div>
            <div class="form-group">
                <label for="solvedLink">Hol tudják elérni mások is?</label>
                <input type="text" class="form-control" name="solvedLink" id="solvedLink" aria-describedby="solveLinkHelp" placeholder="link">
                <small id="solveLinkHelp" class="form-text text-muted">Annak az embernek/cégnek a neve és elérhetősége ahonnan segitséget kaptál</small>
            </div>
            <div class="form-group">
                <label for="solvedAbout">Miért ajánlod másoknak ezt az embert/helyet</label>
                <textarea class="form-control" name="solvedAbout" id="solvedAbout" aria-describedby="solveAboutHelp" placeholder="kedvesek voltak velem, olcsó volt, stb."></textarea>
                
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="saveSolution">Ajánlom!</button>
        </div>
      </div>
    </div>
  </div>
  
<script>

category = "";
var postid = "";

var displayUid,recList,hasRecommended;
recommendSize = 1;
uid = sessionStorage.getItem('uid');

$('#imgProfile').attr("src",photoUrl);

if (getUrlParameter('val'))
    displayUid = getUrlParameter('val');
else displayUid = uid;

$('#editBtn').on('click', e =>{
    window.location.hash = 'register.html';
})

$('#messageBtn').on('click', e =>{
    window.location.hash = 'messenger.html?val='+getUrlParameter('val');
})

if (displayUid)
$('#recommendBtn').on('click', e =>{
    var recommendListRef = firebase.database().ref('users/' + displayUid + "/recommend");
    if (hasRecommended) {
        // delete element with your uid
        var list = [];
        recommendListRef.on('value', function(snap) { list = snap.val(); });
        var arr = Object.entries(list);
        arr.splice(arr.findIndex(element =>Object.entries(element[1])[0][1] == uid),1);
        list = Object.fromEntries(arr);
        recommendListRef.set(list);
        $('#recommendBtn').html('Ajánlom');
        hasRecommended = false;
    }else {
        // add element with your uid
        var newRecRef = recommendListRef.push();
        newRecRef.set({uid});
        
        $('#recommendBtn').html('Ajánlottam');
        hasRecommended = true;
    }
    getRecList();
})

if (displayUid != uid){
    $('#messageBtn').removeAttr('hidden');
    $('#recommendBtn').removeAttr('hidden');
} else {
    $('#editBtn').removeAttr('hidden');
}

if (displayUid != undefined)
var myProfileRef = firebase.database().ref('users/' + displayUid);
myProfileRef.on('value', (snapshot) => {
    const data = snapshot.val();
    $('#username').html(data.username);
    $('#fullName').html(data.name);
    $('#fullName2').html(toldalek(data.name,"ról"));
    $('#ig_username').html(data.ig_username);
    $('#ig_username_link').attr("href","https://www.instagram.com/"+data.ig_username);

    allProfAb = [];
    prof = data.profession.split('$$');
    end="";
    prof.forEach(element => {
        newprof = element.split('$');
        if (newprof[0].trim() != ''){
            end += "<li>"+newprof[0]+": "+newprof[1]+'</li>';
            allProfAb.push(newprof[1]);
        }
    });
    $('#profession').html(end.slice(0,-2));
    recList = data.length;

    console.log('profiles/' + getUrlParameter("val")+'/profile.jpg');
    var storage = firebase.storage();
    var pathReference = storage.ref('profiles/' + getUrlParameter("val")+'/profile.jpg');
    pathReference.getDownloadURL()
    .then((url) => {
        // Or inserted into an <img> element
        var img = document.getElementById('imgProfile');
        img.setAttribute('src', url);
    })
    .catch((error) => {
        // Handle any errors
    });
    //if (data.recommend.size() == 0) $('#recommend').html("Senki sem ajánl téged még.");
    //else $('#recommend').html(data.recommend.size());
});

getRecList();

function getRecList(){
    recommendSize = 0;
    var recommendListRef = firebase.database().ref('users/' + displayUid + "/recommend");
    recommendListRef.once('value', (snapshot) => {
    snapshot.forEach((childSnapshot) => {
        recommendSize++;
        if (childSnapshot.val().uid == uid) {
            $('#recommendBtn').html('Ajánlottam');
            hasRecommended = true;
        }
    });
    });
    $('#recommend').html(recommendSize);
}

i = 0;


    $('#title').html("Megválaszolatlan keresések:");
    postsRef = firebase.database().ref('posts');
    postsRef.on('value', (snapshot) => {
        
        $('#searchList').empty();
        snapshot.forEach(function(post){
                if (post.val().uid == displayUid) {
                        i++;
                        let htmlComments = "";
                        let newName = "";
                        solutionButton = `<button type="button" class="btn btn-primary" postid="${post.key}" data="${post.val().title}" id="solve${post.key}">Megoldódott</button>`;
                        if (post.val().solution != undefined || post.val().solution != "null")
                            solutionButton = `<a href="solution.html?val=${post.val().solution}"">Megoldva</a>`;

                        console.log(post.key);
                        let comments = Object.entries(post.val().comments);
                        comments.forEach(comment => {
                            htmlComments += (`
                                <div class="mx-2 p-1">
                                    <div class="d-flex align-items-center">
                                        <img src="../img1.jpg" class="commentImg">
                                        <div class="d-flex flex-column flex-fill">
                                            <a href="profile.html?val=${comment[1].uid}" class="mx-2">${comment[1].name}</a>
                                            <small class="mx-4 my-1">${comment[1].text}</small>
                                        </div>
                                        <div class="d-flex flex-column align-middle">
                                            <span>${comment[1].vote}</span>
                                        </div>
                                        <div class="comments d-flex flex-column align-middle">
                                            <i id="" postid="${post.key}" commentid="${comment[0]}" class="fa fa-arrow-up"></i>
                                            <i id="" postid="${post.key}" commentid="${comment[0]}" class="fa fa-arrow-down"></i>
                                        </div>
                                    </div>
                                </div>`);
                        });
                        let newPost = 
                        `<nav class="d-flex bd-highlight" data-bs-toggle="collapse" data-bs-target="#collapse${i}" aria-expanded="false" aria-controls="collapse${i}">
                            <div class="p-2 bg-primary text-light flex-shrink-1 bd-highlight"><h2>${i}</h2></div>
                            <div class="p-2 w-100 bd-highlight">
                                <div class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">${post.val().title}</h5>
                                        ${solutionButton}
                                    </div>
                                    <p class="mb-1">${post.val().about}</p>
                                </div>
                                <div class="collapse" id="collapse${i}">
                                    ${htmlComments}
                                </div>
                                <div class="p-2 d-flex">
                                    <textarea rows="1" type="text" class="form-control" name="comment${i}" id="comment${i}" aria-describedby="helpId" placeholder="Írd le ha tudsz segíteni"></textarea>
                                    <input type="button" postid="${post.key}" for="${i}" class="btn btn-primary" value="Elküld">
                                </div>
                            </div>
                        </nav>
                        `;
                        
                        //num++;
                        $('#searchList').append(newPost);
                    }

                        $(".comments").delegate("svg", "click", function() {
                            console.log('click');
                            postid = $(this).attr("postid");
                            commentid = $(this).attr("commentid");
                            let oldvote = 0;
                            var voteRef = firebase.database().ref('posts/' + postid + "/comments/"+ commentid + '/vote');
                            voteRef.on('value', (snapshot) => {
                                const data = snapshot.val();
                                oldVote = data;
                            });

                            if ($(this).hasClass('fa-arrow-up')) oldVote++;
                            if ($(this).hasClass('fa-arrow-down')) oldVote--;

                            var updates = {};
                            updates['posts/' + postid + "/comments/"+ commentid + '/vote'] = oldVote;

                            return firebase.database().ref().update(updates);
                        });


        });
});

$('#saveSolution').on('click',e=>{
    var solutionRef = firebase.database().ref('solutions/');
    var newSolRef = solutionRef.push();
    newSolRef.set({
        uid       :uid,
        category  :category,
        title     :$('#solvedName').val(),
        link      :$('#solvedLink').val(),
        text      :$('#solvedAbout').val(),
        recommend :uid
    })
    
    var updates = {};
    updates['posts/' + postid + "/solution"] = newSolRef.key;

    return firebase.database().ref().update(updates);
});


$("nav").delegate("button","click", function() {
    console.log("solved");
    $('#solveModalSubject1').html(embedWord(toldalek($(this).attr("data"),'val')));
    $('#solvedModal').modal('show');
    category = $(this).attr("data");
    postid = $(this).attr("postid");
    return false;
});

$("nav").delegate("input","click", function() {
    id = $(this).attr("for");
    postId = $(this).attr("postid");
    console.log('posts/'+postId+'/comments');
    var ref = firebase.database().ref('posts/'+postId+'/comments');
    var newref = ref.push();
    newref.set({"uid":sessionStorage.getItem('uid'),
                "text":$('#comment'+id).val(),
                "name":sessionStorage.getItem('name'),
                "vote":0});
});
</script>