<div class="jumbotron">
    <h1 class="display-3">Adatok megadása</h1>
    
    <form class="row g-3 needs-validation" novalidate>
      <div class="d-flex bd-highlight">
        <div class="mt-2 w-100"><p class="lead">Töltsd ki a profilodat</p></div>
        <div class="">
          <button type="submit" id="saveLoc" class="btn btn-primary">Mentés</button>
        </div>
      </div>


      <hr class="my-2">
      <div class="form-group">
        <label for="pic">Profilképed</label>
        <div class="d-flex">
          <input class="form-control" type="file" accept="image/*" id="profilePicFile">
          <img id="profilePicImg" src="" class="commentImg" alt="">
        </div>

        <label class="mt-3" for="username">Felhasználónév</label>
        <small id="usernameHelpId" class="form-text text-muted">(Egyedi azonosítód)</small>
        <div class="input-group has-validation">
          <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelpId" required>
          <div class="invalid-feedback text-danger">
            Ez a felhasználónév már foglalt, kérlek válassz másikat!
          </div>
        </div>
          <small id="usernameErrorId" class="form-text text-muted text-danger d-none">Ez a felhasználónév már foglalt, kérlek válassz másikat!</small><br>

        <label class="mt-3" for="name">Teljes név</label>
        <input type="text"
          class="form-control" name="name" id="name" aria-describedby="nameHelpId" placeholder="" required>

        <label class="mt-3" for="instagram">Instagram</label>
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" id="instagram" class="form-control" placeholder="felhasználónév" aria-label="felhasználónév" aria-describedby="basic-addon1" >
        </div>

        <label class="mt-3" for="location">Komfortzónád</label>
        <div id="map" name="location" style="width:100%;height:400px;"></div>
        <small class="form-text text-muted">Add meg nagyjából azt a területet ahol elérhető lehetsz</small>
        <div id="mapInfo"></div>

        <label class="mt-3" for="profession">Szakterületeid</label>
        <input type="text" class="form-control" name="professionHelpId" id="profession" data-role="tagsinput" aria-describedby="professionHelpId" value="" placeholder="Photoshop, Jóga, Pszichológia">
        <small id="professionHelpId" class="form-text text-muted">Add meg milyen területeken vagy magabiztos</small>

        <div class="mx-2" id="aboutContainer">

        </div>

      </div>
    </form>
</div>

<script>

(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        } else saveAll();

        form.classList.add('was-validated')
      }, false)
    })
})()

  var oldUsername;
  var file;
  var vlng, vlat, vrad, vzoom;
  var allProfAb = [];

  $(function() {
    initMap();
    loadData();
  });

  function update(oldparUsername,newparUsername) {
    var usersRef = firebase.database().ref('usernames/');
    usersRef.child(oldparUsername).once('value', function(snapshot) {
      if (snapshot.exists()) {
        const updates = {}
        updates[oldparUsername] = null;
        console.log("old username: "+oldparUsername);
        updates[newparUsername] = { owner: uid };
        console.log("new username: "+newparUsername);
        
        firebase.database().ref('usernames/').update(updates)
        // update

      } else {
        console.log('dont exsist');
        // add
        var dataRef = firebase.database().ref('usernames/'+newparUsername);
        dataRef.set({
          "owner": uid
        });

      }
    });
  }

  // Save
  function saveAll() {
    vlng = parseFloat(map.getCenter().lng().toFixed(4));
    vlat = parseFloat(map.getCenter().lat().toFixed(4));
    vrad = parseFloat((Math.abs(map.getBounds().getNorthEast().lng()-map.getBounds().getSouthWest().lng())*111000/8).toFixed(4));
    vzoom = map.getZoom();
    $('#mapInfo').html("lng: "+vlng + " lat: "+vlat + " rad: " + vrad);

    str = $('#profession').val();
    arr = str.split(',');
    end = '';
    for (let i = 0; i < arr.length; i++) {
      end += arr[i].trim() +'$'+$('#prof_'+i).val()+'$$';
    }
    newUsername = $('#username').val();
    var myProfileRef = firebase.database().ref('users/' + sessionStorage.getItem('uid'));
      myProfileRef.on('value', (snapshot) => {
      const data = snapshot.val();
      if (data.username != $('#username').val())
        update(data.username,$('#username').val());
    });

    dataRef = firebase.database().ref('users/' + uid);
    dataRef.set({
      username: $('#username').val(),
      ig_username: $('#instagram').val(),
      name: $('#name').val(),
      location: {vlng, vlat, vrad, vzoom},
      profession: end
    });
    if (file != undefined) {
      var updates = {};
      updates['/users/' + uid + '/pro_file'] = file.name;
      return firebase.database().ref().update(updates);

      var storageRef = firebase.storage().ref('public/'+uid + '/profilePicture/' + file.name);
      var task = storageRef.put(file);
      var storageRef = firebase.storage().ref('/profiles/' + uid + '/profile.jpg');
      var task = storageRef.put(file);
    }
  }

  $('#loadLoc').on('click', e => {
    loadData();
  });

  // Load
  function loadData(){

    var myProfileRef = firebase.database().ref('users/' + sessionStorage.getItem('uid'));
      myProfileRef.on('value', (snapshot) => {
      const data = snapshot.val();
      $('#username').val(data.username);
      oldUsername = data.username;
      $('#name').val(data.name);
      $('#instagram').val(data.ig_username);
      vlat = data.location.vlat;
      vlng = data.location.vlng;
      vrad = data.location.vrad;
      vzoom = data.location.vzoom;

      prof = data.profession;
      prof = prof.split('$$');

      end="";
      prof.forEach(element => {
        newprof = element.split('$');
        if (newprof[0].trim() != ''){
          end += newprof[0]+', ';
          allProfAb.push(newprof[1]);
        }
      });
      
      $('#profession').val(end.slice(0,-2));
      generateForm();


      var storage = firebase.storage();//gs://fife-app.appspot.com/profiles/9ytQEe1JSdQgOsOcVdkq0Wp2RZF3/profile.jpg
      var pathReference = storage.ref('profiles/' + uid+'/profile.jpg');
      pathReference.getDownloadURL()
      .then((url) => {
          $('#profilePicImg').attr('src', url);
      })
      .catch((error) => {
          // Handle any errors
      });
      
      map.setCenter({lat: vlat, lng: vlng});
      map.setZoom(vzoom);
    });
  }

  // Profile Picture Update
  $('#profilePicFile').on('change',e=>{
    var input = e.target;
    file = e.target.files[0];
    var url = e.target.value;
    var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
    if (input.files && input.files[0]&& (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) 
     {
        var reader = new FileReader();

        reader.onload = function (e) {
           $('#profilePicImg').attr('src', e.target.result);
        }
       reader.readAsDataURL(input.files[0]);
    }
    else
    {
      $('#profilePicImg').attr('src', '../img1.png');
    }
  });

  $('#profession').on('input',function (e) { 
    generateForm();
  });

  function generateForm(){
    str = $('#profession').val()
    k=0;
    arr = str.split(',');
    $('#aboutContainer').empty();
    arr.forEach(element => {
      if (element.trim() != '') {
        $('#aboutContainer').append('<label for="professionAbout_'+k+'">Mihez értesz '+embedWord(toldalek(element,'on'))+' belül?</label>');
        $('#aboutContainer').append('<textarea class="form-control" name="professionAbout_'+k+'" id="prof_'+k+'" rows="2" placeholder="Tanultam egyetemen, hobbim, ehhez értek...">'+allProfAb[k]+'</textarea>');
        k++;
      }
    });
  }

function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 47.49, lng: 19.039 },
    zoom: 10,
  });
  var locCircle = new google.maps.Circle({
    strokeColor: "#007BFF",
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: "#007BFF",
    fillOpacity: 0.2,
    map: map,
    center: { lat: -34.397, lng: 150.644 },
    radius: 1000,
  });

  var savedCircle = new google.maps.Circle({
    strokeColor: "#eeba33",
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: "#eeba33",
    fillOpacity: 0.2,
    map: map,
    center: { lat: -34.397, lng: 150.644  },
    radius: vrad,
  });

  map.addListener("idle", () => {
    locCircle.setRadius(Math.abs(map.getBounds().getNorthEast().lng()-map.getBounds().getSouthWest().lng())*111000/8);
  });

  infoWindow = new google.maps.InfoWindow();
  const locationButton = document.createElement("button");
  locationButton.textContent = "My location";
  locationButton.classList.add("custom-map-control-button");
  map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
  locationButton.addEventListener("click", () => {
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          const pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
          };
          map.setCenter(pos);
        },
        () => {
          handleLocationError(true, infoWindow, map.getCenter());
        }
      );
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  });

  map.addListener("zoom_changed", () => {
    locCircle.setRadius(Math.abs(map.getBounds().getNorthEast().lng()-map.getBounds().getSouthWest().lng())*111000/8);
  });

  map.addListener("center_changed", () => {
    locCircle.setCenter(map.getCenter());
    if (vlat != undefined) {
      savedCircle.setCenter({ lat: vlat, lng: vlng });
      savedCircle.setRadius(vrad);
    }
  });

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(
      browserHasGeolocation
        ? "Error: The Geolocation service failed."
        : "Error: Your browser doesn't support geolocation."
    );
    infoWindow.open(map);
  }
}

$('#username').on('input',e=>{
  isTaken($('#username').val());
})

function isTaken(newName) {
  var taken = false;
  var myPeopleRef = firebase.database().ref("usernames");
            myPeopleRef.once('value', (snapshot) => {
                snapshot.forEach(function(person){
                  //console.log(person.)
                    if (person.key == newName && person.val().owner != uid)
                     taken = true;
                }
                )}
            ).then(e=>{if (taken == true)
                        $('#usernameErrorId').removeClass('d-none');
                      else
                        $('#usernameErrorId').addClass('d-none');
                      return taken;
                    })

}

</script>