<h3 class="display-6" id="title"></h3>
<div id="searchList" class="list-group">
    <div id="filter">
        <h1>Filterek:</h1>






        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" filter="ActiveContainer" id="checkActive" autocomplete="off" checked>
            <label id="filterActive" class="btn btn-outline-primary" for="checkActive">Megválaszolatlan kérdések</label>
          
            <input type="checkbox" class="btn-check" filter="SolvedContainer" id="checkSolved" autocomplete="off" checked>
            <label id="filterSolved" class="btn btn-outline-primary" for="checkSolved">Megoldások</label>
          
            <input type="checkbox" class="btn-check" filter="ProfContainer" id="checkProf" autocomplete="off" checked>
            <label id="filterProf" class="btn btn-outline-primary" for="checkProf">Hozzáértők</label>

            <input type="checkbox" class="btn-check" filter="UserContainer" id="checkUser" autocomplete="off" checked>
            <label id="filterUser" class="btn btn-outline-primary" for="checkUser">FiFék</label>

            <input type="checkbox" class="btn-check" filter="LinkContainer" id="checkLink" autocomplete="off" checked>
            <label id="filterLink" class="btn btn-outline-primary" for="checkLink">Hasznos linkek</label>
        </div>
    </div>
    <h1>Találatok:</h1>
        <div id="map" name="location" style="width:100%;height:400px;"></div>
        <div id="results" class="">

    </div>
</div>


<script>

    var map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: 47.49, lng: 19.039 },
        zoom: 10,
    });

    
    // emberek, kérések, linkek, megválaszolások
    // Active Solved Prof User Link
    // (person.val().profession.includes($('#profession_type').val()))

    $('#results').empty();
    $('#results').append(`
        <div class="inner" size="0" id="ActiveContainer"><h3>Aktív, megválaszolatlan kérdések</h3></div>
        <div class="inner" size="0" id="SolvedContainer"><h3>Megoldások</h3></div>
        <div class="inner" size="0" id="ProfContainer"><h3>Hozzáértők</h3></div>
        <div class="inner" size="0" id="UserContainer"><h3>FiFék</h3></div>
        <div class="" size="0" id="LinkContainer"><h3>Hasznos linkek</h3></div>
    `);

    $(".btn-group").delegate("input", "change", function() {
      $('#'+$(this).attr("filter")).toggleClass('d-none');
      return false;
    });
  
    $('#title').html("Ők felelnek meg "+embedWord(getUrlParameter('val'))+" keresésnek:");
    load("users","User","name","","key",(item,search) =>{
        return (item.name.includes(search));
    });
    load("posts","Active","title","about","key",(item,search) =>{
        return ((item.title.includes(search) || item.about.includes(search)) && item.solution == "");
    });
    load("solutions","Solved","category","title","link",(item,search) =>{
        return (item.category.includes(search) || item.text.includes(search) || item.title.includes(search));
    });
    loadProf();
    loadLinks();
    initMap();

    function toOrder(div,i){
        console.log(div +" "+i);
        $('#filter'+div).append(' '+i);
        if (i == 0) $('#'+div+'Container').append('<p class="text-center">A keresés nem hozott eredményt <i class="far fa-sad-tear"></i></p>');
        if (i >= $('#results').children()[0].getAttribute('size')) {
            $('#results').prepend($('#'+div+'Container'));
            $('#'+div+'Container').attr('size',i);
        } else if (i == 0) $('#filter'+div).trigger('click');
    }

    function load(path,divId,title,about,link,func) {
        let i = 0;
        var myPeopleRef = firebase.database().ref(path);
            myPeopleRef.once('value', (snapshot) => {
                snapshot.forEach(function(person){
                    if (func(person.val(),getUrlParameter('val'))) { 
                                i++;
                                if (link == 'key') alink = `profile.html?val=${person['key']}`;
                                else alink = person.val()[link];

                                if (1) {

                                }


                                var newPerson = 
                                `
                                <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex flex-row">
                                        <img class="rounded float-start commentImg m-1" src="/img1.jpg"></img>
                                        <div>
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">${person.val()[title]}</h5>
                                                <small></small>
                                            </div>
                                            <p class="mb-1">${person.val()[about]}</p>
                                            <small></small>
                                        </div>
                                    </div>
                                </a>`;
                                $('#'+divId+'Container').append(newPerson);
                            }
                }
                )}
            ).then(e=>{toOrder(divId,i)})
    }

    function loadProf() {
        let i = 0;
        sum=0;
        
        var myPeopleRef = firebase.database().ref('users');
            myPeopleRef.once('value', (snapshot) => {
                snapshot.forEach(function(person){
                    if (person.val().profession.includes(getUrlParameter('val'))) { 
                        sum++;
                                about = "";
                                newProf = profToArray(person.val().profession);
                                newProf.forEach(element => {
                                    if (element[0].includes(getUrlParameter('val'))) 
                                    about += element[0] + ' ';
                                });

                                var storage = firebase.storage();
                                    var pathReference = storage.ref('profiles/' + person.key+'/profile.jpg');
                                    pathReference.getDownloadURL()
                                    .then((url) => {
                                        //newData = {lat:person.val()['location']['vlat'], lng:person.val()['location']['vlng'], imgLink:url}
                                        //data.push(newData);
                                        //console.log(newData);
                                        const image = url;
                                        var icon = {
                                            url: url, // url
                                            scaledSize: new google.maps.Size(50, 50), // scaled size
                                            origin: new google.maps.Point(0.5,0.5), // origin
                                            anchor: new google.maps.Point(0.5, 0.5) // anchor
                                        };
                                        var marker = new google.maps.Marker({
                                            position: { lat: person.val()['location']['vlat'], lng: person.val()['location']['vlng'] },
                                            map: map,
                                            icon: icon
                                        });
                                        /*const beachMarker = new google.maps.Marker({
                                            position: { lat: person.val()['location']['vlat'], lng: person.val()['location']['vlng'] },
                                            size: {width:  1, height:  1},
                                            map,
                                            icon: image,
                                        });*/
                                })

                                var newPerson = 
                                `<a href="profile.html?val=${person['key']}" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">${person.val().name}</h5>
                                        <small></small>
                                    </div>
                                    <p class="mb-1">${about}</p>
                                    <small></small>
                                </a>`;
                                $('#ProfContainer').append(newPerson);
                                i++;
                    }
                }
                )}
            ).then(e=>{toOrder("Prof",i)});
}

    function loadLinks() { 
        let i = 0;
        var myLinksRef = firebase.database().ref('links');
            myLinksRef.once('value', (snapshot) => {
                snapshot.forEach(function(link){
                    if (link.val().about.includes(getUrlParameter('val'))) {
                                i++;
                                var newLink = 
                                `<a href="https://www.facebook.com/groups/${link.val().link}" outer class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">${link.val().about}</h5>
                                        <small>Feltöltötte: ${link.key}</small>
                                    </div>
                                </a>`;
                                $('#LinkContainer').append(newLink);
                    }
                });
            }).then(e=>{toOrder("Link",i)});
  }


function initMap() {



  infoWindow = new google.maps.InfoWindow();
  const locationButton = document.createElement("button");
  locationButton.textContent = "My location";
  locationButton.classList.add("custom-map-control-button");
  map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
  locationButton.addEventListener("click", () => {
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          const pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
          };
          map.setCenter(pos);
        },
        () => {
          handleLocationError(true, infoWindow, map.getCenter());
        }
      );
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  });

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(
      browserHasGeolocation
        ? "Error: The Geolocation service failed."
        : "Error: Your browser doesn't support geolocation."
    );
    infoWindow.open(map);
  }
}

</script>